<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liugl.alltest">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".fragment.FragmentMain2Activity" />
        <activity android:name=".fragment.FragmetnNestTestMainActivity" />
        <activity android:name=".suoluetu.SuolueActivity" />
        <activity android:name=".suoluetu.DetailActivity" />
        <activity android:name=".notification.NotificationCustomActivity" />
        <activity android:name=".notification.CustomNotifiCationDetailActivity" />
        <activity android:name=".permission.PermissionMain2Activity" />
        <activity android:name=".handlethreadloopall.RunOnUIThread_HandlerPostActivity" />
        <activity android:name=".chenjinshi.ChenJinShiStatusBarMain2Activity" />
        <activity android:name=".chenjinshi.FirstStyleActivity" />
        <activity android:name=".chenjinshi.SecondeStyleActivity" />
        <activity android:name=".chenjinshi.ThridStyleActivity" />
        <activity android:name=".chenjinshi.CelueMain2Activity" />
        <activity
            android:name=".chenjinshi.Celue1Activity"
            android:theme="@style/chenjinshiAppTheme" />
        <activity android:name=".notification.CompatCustomNotifiCationActivity" />
        <activity android:name=".notification.BigRemoteView_Activity" />
        <activity android:name=".permission.PermissionRequestHomeActivity" />
        <activity android:name=".permission.SystemDefaultAPIPerssionActivity" />
        <activity android:name=".nestedscroll.NestedScrollHomeActivity" />
        <activity android:name=".nestedscroll.defapi.DefApiActivity" />
        <activity android:name=".nestedscroll.nestedapi.NestedApiActivity" />
        <activity android:name=".nestedscroll.coordinatorlayout.demo01.MyBehaviroTowTextviewActivity" />
        <activity android:name=".materialdesign.toolbar.ToolBarMDActivity" />
        <activity android:name=".materialdesign.MDHOmeActivity" />
        <activity
            android:name=".materialdesign.toolbar.MyChildActivity"
            android:parentActivityName=".materialdesign.toolbar.ToolBarMDActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liugl.alltest.materialdesign.toolbar.ToolBarMDActivity" />
        </activity>
        <activity android:name=".nestedscroll.md.MDHomeActivity" />
        <activity android:name=".cach.CachMain2Activity" />
        <activity android:name=".service.ServiceMain2Activity" />
        <activity android:name=".service.LocalServiceMain2Activity" />
        <!--
            Service 配置说明：

            android:name　      服务类名，注意如果Service与Activity不在同一个包中，在android:name上必须写上Service的全路径
            android:label　　    服务的名字，如果为空，默认显示的服务名为类名
            android:icon　　     服务的图标
            android:permission 申明此服务的权限，这意味着只有提供了该权限的应用才能控制或连接此服务
            android:process　   表示该服务是否运行在另外一个进程，如果设置了此项，那么将会在包名后面加上这段字符串表示另一进程的名字
            android:enabled　  如果此项设置为 true，那么 Service 将会默认被系统启动，默认值为 false
            android:exported　表示该服务是否能够被其他应用程序所控制或连接，默认值为 false
        -->
        <service
            android:name=".service.MyService"
            android:enabled="true"></service>

        <activity android:name=".service.ServiceComplexMain2Activity"></activity>
    </application>

</manifest>